<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>879849 - COMP90049</title>
    <script src="angular.js"></script>
    <script src="viewer.js"></script>
    <style>
        th {
            text-align: left;
            font-size: 18px;
            line-height: 28px;
            padding: 0 18px 8px 0;
            white-space: nowrap;
        }
    </style>
</head>
<body ng-controller="ViewerController as ctrl">
<div ng-hide="notLoading">loading...</div>
<div style="width: 100%; overflow: scroll;">
    <table ng-if="task">
        <thead>
        <tr>
            <th>misspell</th>
            <th>correct</th>
            <th>canCorrect</th>
            <th ng-repeat="v in headers">{{v}}</th>
        </tr>
        <!--
        <tr>
            <th colspan="3"></th>
            <th ng-repeat="v in times track by $index">{{v}}</th>
        </tr>
        -->
        <tr>
            <th colspan="2">recall</th>
            <th ng-repeat="v in recalls track by $index">{{v[0]}}</th>
        </tr>
        <tr>
            <th colspan="2">precision</th>
            <th></th>
            <th ng-repeat="v in precisions track by $index">{{v[0]}}</th>
        </tr>
        <tr>
            <th colspan="2">F1 score</th>
            <th></th>
            <th ng-repeat="v in f1s track by $index">{{v}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows">
            <td>{{row.misspell}}</td>
            <td>{{row.correct}}</td>
            <td><span ng-show="row.canCorrect">*</span></td>
            <td style="text-align: left; padding-bottom: 8px" ng-repeat="v in row.candidatesOfMethods track by $index">
                <div ng-show="v.len">({{v.len}} items<span ng-show="v.hit">, Hit</span>)</div>
                <div style="max-height: 20px;max-width: 220px; overflow: hidden; text-overflow: ellipsis">
                {{v.candidates}}
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>
